/*barra superior*/
.barra-superior-govco {
  background-color: #3366cc;
  width: 100%;
}

.barra-superior-govco a {
  content: url(https://cdn.www.gov.co/assets/images/logo.svg);
  height: 1.875rem;
  width: 8.5rem;
}

.barra-superior-govco a:focus-visible {
  outline: max(0.125rem, 0.15em) solid #FFFFFF;
  border-radius: 0.313rem;
}

/*fin barra superior*/

/*buscador*/
#ajaxsearchlite1 .probox,
div.asl_w .probox {
  border: 0.063rem solid #4B4B4B !important;
  padding: 5px !important;
}

#ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input {
  font-size: 1rem !important;
  font-family: WorkSans-Regular !important;
  height: 100%;
}

#ajaxsearchlite1:has(> .probox .proinput input:focus-visible),
div.asl_w:has(> .probox .proinput input:focus-visible) {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
  border-radius: 30px;
}

div.asl_m .probox .promagnifier .innericon {
  margin-right: 0.3rem;
  border-radius: 50%;
  background-color: #737373 !important;
}


div.asl_m .probox .promagnifier .innericon:hover {
  background-color: #3366cc !important;
}

div.asl_w .probox .promagnifier .innericon svg {
  fill: white !important;
}

div.asl_m .probox .proclose svg {
  fill: #3366cc !important;
  background-color: transparent !important;
  margin-left: -15px !important;
  width: 28px !important;
  height: 28px !important;
  margin-top: 0 !important;
  top: 0 !important;
}

/*buscador*/

/*menu*/
.menu-principal {
  background-color: #25368b;

  li {
    display: block;
    position: relative;
    max-width: 250px;

    a {
      display: block;
      position: relative;
      padding: 10px;
      font-size: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }
  }

  .img-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease-in-out;
  }

  #menu-principal {
    >li::after {
      color: white;
    }

    >li:hover:after {
      color: #25368b;
    }

    >li>a {
      color: white;
      text-align: center;
      height: 100%;
      min-height: 60px;

      .img-menu {
        width: 100%;
        bottom: 100%;

        img {
          width: 30%;
        }
      }
    }

    >li>a:hover,
    >li>a:focus-visible,
    >li:has(.show-submenu)>a {
      background-color: #f0bc37;
      color: #25368b;
    }

    >li>.sub-menu>.menu-item-has-children:has(.left-submenu) {
      >a .img-menu {
        left: 100%;
        right: auto;
      }

      .left-submenu>.menu-item-has-children:has(.left-submenu) {
        >a .img-menu {
          left: 100%;
          right: auto;
        }
      }
    }

    >li>.sub-menu>.menu-item-has-children .right-submenu>.menu-item-has-children:has(.right-submenu) {
      >a .img-menu {
        right: 100%;
        left: auto;
      }
    }
  }

  .menu-item-has-children a {
    padding-right: 30px;
  }

  .menu-item-has-children:after {
    position: absolute;
    top: 35%;
    right: 10px;
    font-family: govco-font;
    content: "\e8b7";
    background-image: none;
    width: auto;
    color: #25368b;
    margin-left: 0.5em;
    transition: all 0.3s ease-in-out;
  }

  .menu-item-has-children:hover::after,
  .menu-item-has-children:focus-visible::after,
  .menu-item-has-children:has(.show-submenu)::after {
    transform: rotate(90deg);
  }

  .sub-menu:has(.right-submenu.show-submenu) {
    border-right: #c5d3f0 2px solid;
  }

  .sub-menu {
    position: absolute;
    background-color: #e6effd;
    padding: 0;
    opacity: 0;
    z-index: -1;
    min-width: max-content;
    transition: opacity 0.3s ease-in-out;

    li {
      min-width: 100%;
      width: 100%;

      a {
        color: #25368b;
      }
    }

    a:hover,
    a:focus-visible,
    li:has(.show-submenu)>a {
      color: #3366cc;
      text-decoration: underline;
    }

    .img-menu {
      width: 80px;
      right: 100%;
      left: auto;
      bottom: 0;
    }

    .sub-menu {
      top: 0;
    }

  }

  .show-submenu {
    opacity: 1;
    z-index: 900;
  }

  .right-submenu {
    left: calc(100% + 2px);

    .img-menu {
      left: 100%;
      right: auto;
    }
  }

  .left-submenu {
    right: 100%;

    .img-menu {
      right: 100%;
      left: auto;
    }
  }

  .show-img {
    opacity: 1;
    height: auto;
  }
}

/*fin-menu*/