@font-face {
  font-family: "WorkSans";
  src: url("assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat/Montserrat-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "Monserrat-ExtraBold";
  src: url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat/Montserrat-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "govco-font";
  src: url("assets/fonts/gov_co/govco-font-icons.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

:root {
  --azul: #25368b;
  --azul-c: #3cbfe4;
  --azul-ct: #c9ebf5;
  --amarillo: #f0bc37;
  --blanco: #fff;
  --gris: #e8e8f0ef;
}

.btn-azul {
  height: auto;
  width: auto;
  background-color: var(--azul);
  color: var(--gris);
  justify-self: center;
  margin: 4px;
  border-radius: 20px;
}

.btn-azul:hover {
  background-color: var(--gris);
  color: var(--azul);
}


.btn-icono {
  padding: 0;
  width: 12rem;
  height: 10rem;

  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-width: 2px;
    border-radius: 0.375rem;
    background-color: var(--blanco);
    box-shadow: 0 1rem 1rem var(--gris);
    border-color: var(--gris);
    color: var(--azul);
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: 'Montserrat-Bold';
    transition: all 0.3s ease-in-out;
  }

  .icon,
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
  }

  .icon::before {
    font-family: "govco-font";
  }

  a:hover {
    background-color: var(--azul);
    color: var(--gris);
  }
}



.icon-programa::before {
  content: "\EBD3";
}

.icon-formulario::before {
  content: "\EBBC";
}

.icon-notificaciones::before {
  content: "\EBAB";
}

.icon-peticiones::before {
  content: "\E89D";
}

.icon-contacto::before {
  content: "\E927";
}

.icon-agenda::before {
  content: "\E87A";
}